<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataHubServicesAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MetaDataSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://datahub.esriuk.com/DhMetaData/MetaData.asmx"
                binding="basicHttpBinding" bindingConfiguration="MetaDataSoap"
                contract="MetaData.MetaDataSoap" name="MetaDataSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <DataHubServicesAddin.Properties.Settings>
            <setting name="DataHubServicesAddin_LocatorHub_LocatorHub" serializeAs="String">
                <value>http://datahubstaging/lh/locatorhub.asmx</value>
            </setting>
        </DataHubServicesAddin.Properties.Settings>
    </applicationSettings>
</configuration>